h1 {
    color: green;
    text-align: center;
}

.p1 {
    background-color: yellow;
    border: 1px solid black;
    font-style: bold;
}

.p2 {
    font-style: italic;
    border: 1px dotted black;
}