p {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    display: flex;
}

a {
    display: block;
    color: green;
    text-decoration: none;
    padding: 3px;
    width: 160px;
    background-color: #f7f8e8;
    text-align: center;
    border-bottom: 1px solid #eeeeee;
}

a:hover {
    color: pink;
    background-color: #336699;
}

a:visited {
    color: red;
    background-color: yellow;
}

a:active {
    color: white;
    background-color: #336699;
}