<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api-Rest CRUD Python - MongoDB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
                rel="stylesheet" 
                integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
                crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
            crossorigin="anonymous">
    </script>

</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5 mb-5">APP API-REST PYTHON - FLASK - MYSQLDB</h1>
    </div>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in
        messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          {{message}}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
    {% endfor %} {% endif %} {% endwith %}

    <div class="container">
        <div class="row row-col-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Alta Estudiante</h5>
                    </div>
                    <div class="card-body">
                        <form action="/estudiantes" method="POST">
                            <label>Nombre</label>
                            <input type="text" class="form-control mb-3" name="nombre">
                            <label>Apellido</label>
                            <input type="text" class="form-control mb-3" name="apellido">
                            <label>Segundo apellido</label>
                            <input type="text" class="form-control mb-3" name="apellido2">
                            <button class="btn btn-primary col-lg-12 col-md-12 col-sm-12" type="submit">Guardar</button>
                        </form>
                    </div>
                </div>
            </div> 

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Estudiantes</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <div class="row row-col-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-2">
                                {% for Estudiantes in Estudiantes %}

                                    <div class="col">
                                        <li class="list-group-item mb-3">
                                            <form action="/edit/{{Estudiantes.id}}" method="POST">
                                                <small>Nombre</small>
                                                <input type="text" class="form-control" value="{{Estudiantes.nombre}}" name="nombre">
                                                <small>Primer apellido</small>
                                                <input type="text" class="form-control" value="{{Estudiantes.apellido}}" name="apellido">
                                                <small>Segundo apellido</small>
                                                <input type="text" class="form-control" value="{{Estudiantes.apellido2}}" name="apellido2">
                                                <button class="btn btn-primary btn-sm mt-3" type="submit">Editar</button>
                                                <a href="{{url_for('deleteEstudiante', id=Estudiantes.id)}}" 
                                                        class="btn btn-danger btn-sm mt-3">Eliminar</a>
                                            </form>
                                        </li>
                                    </div>

                                {% endfor %}
                            </div>
                        </ul>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>